*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.signinpopup{
  z-index: 4;
  top:0px;
  position:fixed;
  width:100vw;
  height:100vh;
}
.backgroundblurr{  
	background-color: #ebfdfaa1;
	position:absolute;
	width:100vw;
	height:100vh;
	z-index:3;
}
.innersigninpopup{
  width:60%;
  margin-left: 20%;
  padding:20px;
  border-radius: 10px;
  background-color: #212c1E;
  margin-top: 30px; 
  position:absolute;
  z-index:4;
}
.signinup_logo{
	position:relative;
	width:340px;
	float:right;
	margin-top:170px;
}



.errormessage{
	position:absolute;
	margin-left: 390px;
	border:1px solid red;
	width:340px;
	height:130px;
}









#cross-position{
  position:relative;
  font-size:20px;
  color:#fff;
  float:right;
  margin:5px;
  padding:3px 5px;
  border-radius: 10px;
  border:1px solid rgba(255, 255, 255, 0);
}
#cross-position:hover{
	border:1px solid #fff;
  cursor: pointer;
}



.main{
	width: 350px;
	height: 500px;
	background: #212c1E;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.signinup_label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.signinup_input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.signinup-button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #4F4A41;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.signinup-button:hover{
	background: rgba(0, 0, 0, 0);
	border:2px solid #4F4A41;
}
.signin-button:hover{
	color:#4f4a41;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #212c1E;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
