*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  margin-top:0px;
  width:100vw;
  height:55px;
  position:fixed;
  z-index:2;
  background-color: #212b1e;
}
.innernav{
  margin:0px 60px 0px 80px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_icons_right{
  margin-top:15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: baseline;
  width:350px;

}
.navbar_icons_items{

  font-size: 20px;
  color:#fff;
}
.dashboard-navbar-search{
  height:70%;
  outline:0px;
  border:0px;
  padding:10px;
  border-radius: 10px;
}

.navbar_pageheading{
  font-family:Kaushan Script;
  color:#fff;
}
.navbar_pageheading_title{
  font-size: 19px;
}
.navbar_pageheading_description{
    font-size: 13px;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.sidebar{
  position:absolute;
  width:70px;
  height:100vh;
  background-color:#212b1e;
  z-index: 4;
}

.sidebar_content{
  margin:10px;
}
.sidebar_logo_content{
  background-color: #212b1e;
  position:fixed;
  padding:10px 0 0 10px;
  z-index: 3;
}
.sidebar_logo{
  width:50px;
}

.sidebar_fixed_items{
  width:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #364532;
  border-radius: 10px;
}
.sidebar_fixed_items a:hover{
      cursor: pointer;
}
.sidebar_scroll_content{
  overflow-y: scroll;
  height:68vh;
  width:50px;
      position:fixed;
      margin-top:80px;
}

.sidebar_explore_add_help_content{
  width:45px;
  height:150px;
  padding:10px;
}

.sidebar_server_content{
  display: flex;
  flex-direction: column;
  padding:10px;

}
.sidebar_server_content a{
  margin-bottom: 10px;
}
.sidebar_server_icons{
  margin-bottom:7px;
}

.sidebar_usersetting_content{
  
  padding:10px 5px;
  position:fixed;
  bottom: 0px;
  height:100px;
  z-index: 3;
}
.sidebar_icons{
  font-size: 30px;
  width:100%;
  color:#fff;
}


.main_content{
  position:fixed;
  border:1px solid red;
  margin-top:55px;
  margin-left:70px;
  padding:15px;
}



  .signinpopup{
    z-index: 5;
    top:0px;
    position:fixed;
    width:100vw;
    height:100vh;
  }
  .backgroundblurr{  
      background-color: #ebfdfac7;
      position: fixed;
      top:0px;
      left:0px;
      width:100vw;
      height:100vh;
      z-index:4;
  }
  .innersigninpopup{
    width:60%;
    margin-left: 20%;
    padding:20px;
    border-radius: 10px;
    background-color: #212c1E;
    margin-top: 70px; 
    position:absolute;
    z-index:4;
  }
  
.signinup_logo{
position:absolute;
width:340px;
float:right;
margin-top:170px;
margin-left: 450px;
z-index: 5;
}



.errormessage{
position:absolute;
margin-left: 420px;
margin-top: 20px;
border:1px solid rgb(255, 238, 238);
width:340px;
height:130px;
color:#fff;
z-index: 5;
padding:10px;
}



  #cross-position{
    position:relative;
    font-size:20px;
    color:#fff;
    float:right;
    margin:5px;
    padding:3px 5px;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0);
  }
  #cross-position:hover{
      border:1px solid #fff;
    cursor: pointer;
  }
  
  
  .signupform{
      width:50%;
  }
  .signupform input, .signupform select, .signupform textarea{
      width:100%;
      border:1px solid #fff;
      padding:10px;
      margin:5px;
      background-color: transparent;
      border-radius: 10px;
      color:#fff;
      font-size: 17px;
      outline: none;
      resize: none;
  }
  .signupform option{
      color:#212c1E;
  }