*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
footer {
  margin:0px;
  color: #aebcba;
  font-family: sans-serif;
  position: fixed;
  bottom: 0px;
  background-color: #212c1E;
  width: 100vw;
  height: 55vh;
  z-index:0;
  
}

footer .innerfooter {
  padding-top:30px;
  padding-bottom:30px;
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

footer .innerfooter a {
  text-decoration: none;
  color: #aebcba;
}

footer .innerfooter .gridfooter {
  display: -ms-grid;
  display: grid;
  height: 80%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100%;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

footer .innerfooter .gridfooter .innercontainer .floatcontainer {
  margin-bottom: 7px;
}

footer .innerfooter .gridfooter .innercontainer .floatcontainer img {
  float: left;
  clear: right;
}

footer .innerfooter .gridfooter .innercontainer3 {
  text-align: right;
}

footer .innerfooter .gridfooter .innercontainer3 .floatcontainerhead {
  width: 150px;
  float: right;
}

footer .innerfooter .gridfooter .innercontainer3 .floatcontainerhead img {
  float: left;
  clear: right;
  margin-left:13px;
  
}
footer .innerfooter .gridfooter .innercontainer3 .floatcontainerhead h2{
  margin-top:10px;
}
.innercontainer h3{
  margin-bottom: 10px;
}
.policiesfooter, .rightsreserved{
  font-family: 'Sriracha';
}
footer .innerfooter .policiesfooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  text-align: center;
}

footer .innerfooter .rightsreserved {
  text-align: center;
}

.floatcontainer, .innercontainer{
  font-family:'Vollkorn';
}
.floatcontainer i{
  font-size: 25px;
  padding-right:15px;
}