*{
    padding: 0;
    margin: 0;
}
.navbar{
    display:flex;
    background-color:#112D32 ;
    z-index: 1;
    padding:10px 10px 10px 100px;
    justify-content: space-between;
    justify-items: baseline;
    }
    .right-div{

        float:right;
        clear:both;
        display: flex;
        justify-content: space-between;
        
    }
    .fa-magnifying-glass{
        position:absolute;
        margin-right:0px;
    }
    .dashboard-navbar-search_bar{
        border: 2px solid white;
        border-radius: 20px;
        height:20px;
      
    }
    .dashboard-navbar-search{
        text-align: middle;
    width:60%;
    padding:5px;
    background-color:transparent;
    outline: 0px;
    border: 0px;
    float:left;
    clear:right;
    
    

    }
    .dashboard-navbar-message,.dashboard-navbar-notifications{
        width:23px;
        padding-left:10px;
    }
    
   

